body {
  background-image: url("project1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: black;
  font-family: "Comic Sans MS";
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

ul {
  list-style: none;
  text-align: center;
}

.navigation {
  position: absolute;
  left: 3%;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 150;
  letter-spacing: 1px;
  font-style: bold;
  color: #f1f2e6;
  text-align: center;
}

.bar {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #282828;
  z-index: 1000;
}

.bottom {
  position: absolute;
  top: 870px;
  left: 45%;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 120px;
  font-size: 15px;
  font-family: serif;
  text-align: center;
  color: grey;
}

.projectText {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 23%;
}

.projectDescription {
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 150%;
}

#tooMuchText {
  margin-top: 10%;
}

.projectDescription a:link {
  color: white;
  text-decoration: underline;
}

.projectDescription a:visited {
  color: white;
  text-decoration: underline;
}

.projectDescription a:hover {
  color: white;
  text-decoration: underline;
}

.project1 {
  position: absolute;
  align-self: center;
  top: 27%;
  left: 38%;
  height: 250px;
  width: 250px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.project2 {
  position: absolute;
  top: 13%;
  left: 68%;
  height: 250px;
  width: 250px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.project3 {
  position: absolute;
  top: 66%;
  left: 63%;
  height: 250px;
  width: 250px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.project4 {
  position: absolute;
  top: 65%;
  left: 14%;
  height: 250px;
  width: 250px;
  border: 15px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.project5 {
  position: absolute;
  top: 14%;
  left: 10%;
  height: 250px;
  width: 250px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
